*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    
}
.text__white {
  color: #fff;
}
.text__gray {
  color: gray;
}





/* HEADER ------------------------*/




header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
header .navbar-brand i{
  color: #35a22c;
  font-size:2.75rem;
}
header .navbar-brand span{
  font-size: 2.25rem;
}
header ul li{
  margin:1rem 10px;

}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  color: #35a22c; 
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

header ul li::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #35a22c;
  transition: all 0.5s;
}
header ul li.active::after{
  width:100%;
}
header ul li:hover::after{
  width: 100%;
  
}
header ul li:hover a{
  color:#35a22c !important;
}










/* Carousel ----------*/






.carousel{
  position: relative;
}

.carousel-item{
  height:100vh;
  background-position:center;
  background-size: cover;
}
.carousel-item:nth-child(1){
  background-image: url(./images/finland.jpg);

}
.carousel-item:nth-child(2){
  background-image: url(./images/mountains.jpg);
}
.carousel-item:nth-child(3){
  background-image: url(./images/mountains-1.jpg);
}
.carousel-item h1{
  font-size: 3.25rem;
  font-weight: 400;
}
.carousel-item p{
  font-size:1.5rem;
}
.img__thumb{
  width: 140px;
  margin:auto;
}
.img__thumb img{
  border-radius:50%;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%)
}
.carousel-indicators{
  bottom: 10%;
}
.carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #35a22c;
}
.carousel__overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(39,43,54,.5);
}


/* PROJECT_----------------------------- */



.title p{
color: gray;
}
#project .card{
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 0.4rem (0 0 0/ 13%);
  border: transparent;
}
#project .card h4{
  font-size: 1.2rem;
  font-weight: 400;
}
#project .card:hover{
  border: 1px solid #35a22c;
  transition: all 1s;
}
#project .card:hover h4{
  color: #35a22c;
  transition: all 1s;
}
#project .card img{
  border:transparent;
}
.projects .nav-pills .nav-link{
  color:black;
  border: 1px solid black;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:#35a22c;
  border: transparent;
}
.project__content li{
  margin-right: 10px;
}
.project__content a {
  border: 1px solid black;
  color: black;
}


/* SERVICE------------- */



#service{
  background-image:url('./images/3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 120px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
}
#service .title{
  color:white;
  position: relative;
}
#service .title p{
  margin-top:1rem;
  margin-bottom: 4rem;
  color:white;
}
.service__content .row .card{
  position: relative;
  padding: 3rem 1rem;
  text-align: center;
  color:white;
  background-color:rgba(255,255,255,.1);
  border-radius:10px;
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,.1);
}
.service__content .row .card:hover{
  background:black;
  border: 1px solid white;
  transition: all 1s;
}
#service .card i{
  color:green;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#service .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7,10,12,.72);
}



/* ----------EDU------------------- */




#edu{
  padding:70px 0;
  position: relative;
}
#edu .bg__edu{
  background-image: url('./images/memphis_3.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size:50% auto;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
#edu .card{
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 20px 20px;
}
.container .card .card-body h4{
  font-size: 2.5rem;
  font-weight: 700;
}
/* ---------------Footer--------------- */
.footer__content{
  background-color: #222;

}
.footer__main a{
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
.footer__main a i{
  background: #222;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #454545;
  border-radius: 50%;
}
.footer__copyright{
  margin-top:40px;
  color:#aaa ;
  font-size:1rem;
  position:relative;
}
.footer__copyright a{
  text-decoration:none;
  color:#aaa;
  
}
.footer__copyright a:hover{
 color: #35a22c;
}
.footer__copyright p{
  margin-top:30px;
}
.footer__copyright hr{
  border-top:1px solid #aaa;
}