*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */
header .navbar-brand i{
  color: #35a22c;
  font-size:2.5rem;
}
header .navbar-brand span{
  font-size: 2rem;
}
header ul li{
  margin:1rem 10px;
}
header ui li.active a{
  color: #35a22c;
}

