*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
header .navbar-brand i{
  color: #35a22c;
  font-size:2.5rem;
}
header .navbar-brand span{
  font-size: 2rem;
}
header ul li{
  margin:1rem 10px;

}
header ul li.active a{
  color: #35a22c !important;
  
}

header ul li::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #35a22c;
  transition: all 0.5s;
}
header ul li.active::after{
  width:100%;
}
header ul li:hover::after{
  width: 100%;
  
}
header ul li:hover a{
  color:#35a22c !important;
}
/* Carousel */

.carousel{
  position: relative;
}
.carousel-item{
  height:100vh;
  background-position:center;
  background-size: cover;
}
.carousel-item:nth-child(1){
  background-image: url(./images/finland.jpg);

}
.carousel-item:nth-child(2){
  background-image: url(./images/mountains.jpg);
}
.carousel-item:nth-child(3){
  background-image: url(./images/mountains-1.jpg);
}
.img__thumb{
  width: 150px;
  margin:auto;
}
.img__thumb img{
  border-radius:50%;
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%)
}
.carousel-indicators li{
  width: 13px;
    height: 13px;
    border-radius: 50%;
}
/* PROJECT_----------------------------- */

.title p{
color: gray;
}
#project .card{
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 0.4rem (0 0 0/ 13%);
}
#project .card:hover{
  border: 1px solid green;

}
#project .card:hover h4{
  color: green;
}
#project .card img{
  border:transparent;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:green;
  border: 1px solid green;
}
