*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */
header .navbar-brand i{
  color: #35a22c;
  font-size:2.5rem;
}
header .navbar-brand span{
  font-size: 2rem;
}
header ul li{
  margin:1rem 10px;

}
header ul li.active a{
  color: #35a22c !important;
  
}

header ul li::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #35a22c;
  transition: all 0.5s;
}
header ul li.active::after{
  width:100%;
}
header ul li:hover::after{
  width: 100%;
  
}
header ul li:hover a{
  color:#35a22c !important;
}
/* Carousel */
.carousel-item{
  height:700px;
  background-position:center;
  background-size: cover;
}
.carousel-item:nth-child(1){
  background-image: url(./images/finland.jpg);

}
.carousel-item:nth-child(2){
  background-image: url(./images/mountains.jpg);
}
.carousel-item:nth-child(3){
  background-image: url(./images/mountains-1.jpg);
}

